.breadcrumbs a span {
  color: #222;
  font-size: 1.6rem;
}

.breadcrumbs {
  margin: 35px 0px;
}

.sub-title {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 15px;
}

.lead {
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
}

.title-content {
  font-size: 138.5%;
  color: #222;
  font-weight: 700;
  text-transform: uppercase;
}

.alert-warning-wrapper{
  margin: 20px 0px 50px;
}
