@media (max-width: 991.98px) {
  .header {
    .header-middle {
      .menu-list {
        display: none;
      }
    }
    .header-bottom {
      .sidebar-menu {
        display: none;
      }
      .navbar-search {
        width: 100%;
        display: flex;
        .search-box {
          width: 100%;
        }
      }
    }
  }
}

.header {
  width: 100%;
  .header-top {
    .left {
      width: 50%;
    }
    .right {
      width: 25%;
      display: flex;
      justify-content: space-evenly;
    }
  }
}

a {
  color: var(--text-color) !important;
}

.login-text {
  color: var(--primary-color) !important;
}

.log-out {
  color: var(--primary-color) !important;

  &:hover {
    color: var(--primary-color) !important;
    cursor: pointer;
  }
}

a:hover {
  color: var(--primary-color) !important;
}

a span {
  color: var(--text-color);
}

a span:hover {
  color: var(--primary-color);
}

.nav-link span {
  color: var(--text-color);
  font-size: 100%;
  font-weight: 600;
}

.nav-link span:hover {
  color: var(--primary-color);
}

.primary-text {
  color: var(--primary-color) !important;
}

.header-top {
  background-color: rgb(242, 242, 242);
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.header-middle {
  padding: 35px 0px 30px;
}

.header-bottom {
  background-color: var(--primary-color);
  .navbar-search {
    display: flex;
    justify-content: space-between;
  }
}

.nav-text {
  font-size: 90% !important;
  font-weight: 600 !important;
}

.dropdown-btn {
  height: 6.2rem;
  width: 100%;
}

.text-dropdown {
  height: 58px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.4rem;
  color: #fff;
  margin-left: 5px;
}
.search-box {
  width: 67%;
  .input-form {
    height: 5rem;
  }

  input[type="text"] {
    font-size: 12px;
  }
}

input[type="text"]:focus ~ .list-product {
  display: block;
}

.list-product-wrapper {
  width: 100%;
  position: absolute;
  z-index: 10000;

  .list-product {
    width: 558px;
    margin: auto;
    background-color: #ebe6e6;
    opacity: 0.9;
    .item-product-container {
      &:hover {
        background-color: rgba(7, 6, 6, 0.03);
        cursor: pointer;
      }
      display: flex;
      border-bottom: 1px solid #e8e8e8;
      height: 50px;
      align-items: center;
      justify-content: space-between;
      img {
        margin-left: 20px;
        height: 40px;
        border-radius: 99px;
      }
      div {
        color: #111;
        font-weight: 500;
      }
      span {
        margin-right: 20px;
        color: #111;
        font-weight: 600;
      }
    }
  }
}

input,
input::-webkit-input-placeholder {
  font-size: 12px;
}

.btn-custom {
  height: 5.1rem;
  font-size: 2.5rem;
}

.list-item {
  background-color: #fff;
  color: var(--text-color);
  font-size: 1.5rem;
  width: 25rem !important;
  padding: 1.5rem;
}

.container-icon-heart,
.container-icon-retweet,
.container-icon-shoppingcart {
  color: var(--text-color);
  background-color: #fff;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
}

.container-icon-shoppingcart:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.wishlist-cart {
  position: relative;
  text-align: center;
  width: 30%;
  .total-item {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    right: 14px;
    bottom: 14px;
  }
}
.dropdown-cart {
  position: absolute;
  background-color: #fff;
  width: 320px;
  height: 500px;
  top: 45px;
  right: 40px;
  border: 1px solid #e8e8e8 !important;
  border-radius: 2px;
  z-index: 1000;
  transform-origin: calc(100%) top;
  animation: Cart ease-in 0.15s;
}

@keyframes Cart {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.menu-content-sidebar {
  .list-item {
    padding: 5px 0px 5px 10px;
    border-bottom: 1px solid #e8e8e8;
    min-width: 248px;
  }
  .list-item:hover {
    background-color: #e8e8e8;
  }
  .list-item:active {
    color: black;
    background-color: #9b9696;
  }
}
