@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");

:root {
  --primary-color: rgb(244, 130, 32);
  --text-color: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 8px;
}

body {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-style: normal;
  font-weight: 400;
  color: #7d7d7d;
  background-color: #ffffff;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.MenuItem {
  color: black;
}

.btn.disabled {
  opacity: 1 !important;
}

.slick-prev:before,
.slick-next:before {
  color: #111;
}

.slider2 {
  .slick-list {
    .slick-track {
      display: flex;
      justify-content: center;
    }
    .slick-slide {
      max-width: 86px;
      // transition: transform 0.6s, opacity 0.6s;
      opacity: 0.5;
      margin: 0 5px;
    }
    .slick-slide:hover,
    .slick-active.slick-current {
      opacity: 1;
      border: 1px solid rgba(0, 0, 0, 0.2);
      img {
        transition: transform 0.6s, opacity 0.6s;
      }
    }
  }
}

.slider1 {
  .slick-list {
    margin: 0 auto;
    max-width: 350px;
  }
}

.slick-prev {
  left: 12px;
}

.slick-next {
  right: 12px;
}

.dropdown-menu.show {
  padding: 0px;
}
