.breadcrumbs a span {
  color: #222;
  font-size: 1.6rem;
}

.breadcrumbs {
  margin: 35px 0px;
}

.google-map {
  border: 5px solid #ddd;
  margin-bottom: 40px;
}

.input-form {
  height: 35px;
  font-size: 100%;
  border: 1px solid #adadad;
}

.title-bonus-page h2 {
  font-size: 166.67%;
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
}

.contact-info .title-bonus-page {
  margin-bottom: 25px;
}
.contact-description {
  font-size: 110%;
}

.add-icon,
.email-icon,
.phone-icon {
  font-size: 110%;
  padding: 10px 0px;
  border-bottom: 1px solid #e8e8e8;
}

.form-container {
  margin: 40px 0px;
}
